.form-title{
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--text-color-dark);
    
}
.form-title-white{
    color: var(--text-color-light);
}
.form-text-white{
    color: var(--text-color-light);
}

.form-text{
    color: var(--text-color-dark);
}
.form-link{
    color: var(--text-color-dark);
}